body {
    background-color: rgb(160, 193, 223);
}

button {
    margin-top: 1rem;
    border-radius: 53px 52px 52px 52px;
    -webkit-border-radius: 53px 52px 52px 52px;
    -moz-border-radius: 53px 52px 52px 52px;
}